# Pinecone Configuration
PINECONE_API_KEY=your_pinecone_api_key
PINECONE_INDEX=chatbot

# LLM Engine (Pick One)

# Option 1: Ollama (Local)
OLLAMA_URL=http://localhost:11434/api/generate
LLM_MODEL=phi3

# Option 2: OpenAI (Cloud)
# OPENAI_API_KEY=your_openai_api_key
# LLM_MODEL=gpt-4o

# Database Configuration
DB_PATH=chatbot.db

NEXT_PUBLIC_SUPABASE_URL=https://smgejbxwkcerzyaqarbe.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_ZpeTsCiZ2GCvUmjWoI7K_Q_DB6IvmMo


